.top-container {
        background-color: green;
        width: 200px;
        height: 200px;
        border: solid 20px;
        padding: 20px;
}

.middle-container {
        background-color: red;
        width: 200px;
        height: 200px;
        border: solid 10px;
        margin-left: 280px;
    }

.bottom-container {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: solid 10px;
    margin-left: 499.2px;
}